* {
    margin : 0px;

}


.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__left {
    display:  flex;
    color : #1DA1F2;
}


.header__mid {
    display:  flex;
    border : 1px solid lightgrey;
    margin-right : 150px;
    padding : 20px;
    padding-right: 470px;
    background-color: white;
    position : relative;
    bottom : 75px;
    left : 50px;
}






